.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.crown, .diamond, .box, .lock {
    border-right: silver;
    border-right-style: solid;
}

.crown, .box, .coin {
    border-bottom: silver;
    border-bottom-style: solid;
}